<!DOCTYPE html>
<html lang="en">

<body>
    
    <link rel="stylesheet" href="/style.css">
    
    <nav class = "nav">
        <h3>Private Notes</h3>
        <ul class = "nav-links">
            <form action=""  method="POST">
                {{#if userName}}                    
                    <input type="hidden" id="username" value={{userName}} name="username"/>
                    <button type="submit" formaction="/home" class = "home-btn">Home</button>
                {{/if}}
            </form>
            <li><a href="/edit">Change Password</a>></li>
            <li><a href="/logout">Logout</a>></li>
        </ul>
    </nav>

    <div class = "newapp">

        <div class = "inner-container">

            <div class="sidenav">
                <form action=""  method="POST"> 
                    <a href="#sort">Sort by</a>               
                    {{#if userName}}
                        <input type="hidden" id="username" value={{userName}} name="username"/>
                        <button type="submit" formaction="/home" class = "side-btn">Title</button>
                        <button type="submit" formaction="/category" class = "side-btn">Category</button>
                        <button type="submit" formaction="/date" class = "side-btn">Date</button>
                    {{/if}}  
                </form>
            </div>

            <ul class = "menu">
                <li class = "option"><a href="/display">Display Note</a></li>
                <li class = "option"><a href="/editnote">Edit Note</a></li>
                <li class = "option"><a href="/delete">Delete Note</a></li>
                <li class = "option" style="float:right"><a class="active" href="/note">Create New Note</a></li>
            </ul>

            {{#each userData}}      
                <div class="note_design"  style="display: block">
                        <div class="note_design">                  
                            <p class="nice"><strong>Category: </strong>{{this.category}}</p>
                            <li class = "option" style="float:right"><a class="active" href="/display">View</a></li>
                        </div> 
                </div>              
            {{/each}}

        </div>

    </div>

</body>
</html>