<!DOCTYPE html>
<html lang="en">

<body>
    
    <link rel="stylesheet" href="/style.css">
    
    <nav class = "nav">
        <h3>Private Notes</h3>
        <ul class = "nav-links">
            <li><a href="/">Home</a>></li>
            <li><a href="/edit">Change Password</a>></li>
            <li><a href="/logout">Logout</a>></li>
        </ul>>
    </nav>

    <div class = "newapp">

        <div class = "inner-container">

            <div class="sidenav">
                <a href="#sort">Sort by</a>
                <a href="/home">Title</a>
                <a href="/category">Category</a>
                <a href="/date">Date</a>
            </div>

            <ul class = "menu">
                <li class = "option"><a href="/display">Display Note</a></li>
                <li class = "option"><a href="/editnote">Edit Note</a></li>
                <li class = "option"><a href="/delete">Delete Note</a></li>
                <li class = "option" style="float:right"><a class="active" href="/note">Create New Note</a></li>
            </ul>

            <div class="note_design ">
                
            <form action="/auth/date" method="POST">

                {{#each userData}}
                    <div class="note_design ">                  
                        <p class="nice"><strong>Date: </strong>{{this.date}}</p>
                        <li class = "option" style="float:right"><a class="active" href="/display">View</a></li>

                    </div> 
                {{/each}}
               
                <button type="submit" class = "login-btn">Display Notes</button>
            </form>

        </div>

    </div>

</body>
</html>