<!DOCTYPE html>
<html lang="en">

<body>
    
    <link rel="stylesheet" href="/style.css">
    
    <nav class = "nav">
        <h3>Private Notes</h3>
        <ul class = "nav-links">
            <li><a href="/">Home</a>></li>
            <li><a href="/logout">Logout</a>></li>
        </ul>>
    </nav>

    <div class = "app">

        <div class = "inner-container">
                
            <h1 class = "privateNotes">Private Notes</h1>
            
            <div class = "header-login">Change Password</div>
            
            <div class ="box">

                <form action="/auth/edit" method="POST">
                    <div class = "input-group">
                        <label for="username">Username</label>
                        <input 
                            type="text" 
                            class="login-input" 
                            id="username" 
                            name="username"
                            placeholder="Username"/>
                    </div>

                    <div class = "input-group">
                        <label for="password">Current Password</label>
                        <input 
                            type="password" 
                            class="login-input" 
                            id="passwordCurrent" 
                            name="passwordCurrent"
                            placeholder="Current Password"/>
                    </div>

                    <div class = "input-group">
                        <label for="password">New Password</label>
                        <input 
                            type="password" 
                            class="login-input" 
                            id="password" 
                            name="password"
                            placeholder="New Password"/>
                    </div>

                     <div class = "input-group">
                        <label for="passwordConfirm">Confirm New Password</label>
                        <input 
                            type="password" 
                            class="login-input" 
                            id="passwordConfirm" 
                            name="passwordConfirm"
                            placeholder="Confirm New Password"/>
                    </div>
                    
                    
                    <button type="submit" class = "login-btn">Save</button>
                </form>
                
                {{#if message }}
                    <h4 class="alert alert-danger mt-4">{{message}}</h4>
                {{/if}}
            </div>
        </div>
    </div>

</body>
</html>